<ion-header>
  <ion-toolbar>
    <ion-title>
      Crear Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form (ngSubmit)="crearUsuario()">
    <ion-label>ID:</ion-label>
    <ion-input [(ngModel)]="user.id" name="id"></ion-input>
    <ion-label>Nombre:</ion-label>
    <ion-input  [(ngModel)]="user.nombre" name="nombre"></ion-input>
    <ion-label>Apellido:</ion-label>
    <ion-input  [(ngModel)]="user.apellido" name="apellido"></ion-input>
    <ion-label>Email:</ion-label>
    <ion-input  [(ngModel)]="user.email" name="email"></ion-input>
    <ion-button color="danger" type="submit">Guardar</ion-button>
  </form>
</ion-content>
